* {
    color: white;
}

window {
    background-color: rgba(0, 0, 0, 0);
}

.widget {
    min-width: 100px;
    background-color: rgb(50, 50, 50);
    border-radius: 16px;
    /* padding: 8px; */
}

image {
    margin-top: 16px;
    border-radius: 16px;
}

