.volumeV {
    padding-top: 16px;
    padding-bottom: 16px;
}

.volumeH {
    padding-left: 16px;
    padding-right: 16px;
}

.volume label {
    font-size: 32px;
}

.volume fill {
    background-color: red;
}

.volume contents {
    padding: 16px;
    border-radius: 4px;
    background-color: #05000c;
}

.volumeH contents {
    min-width: 100px;
}

.volumeV contents {
    min-height: 100px;
}

.volume trough {
    background-color: #0d001d;
    border-radius: 10px;
    border-width: 0;
}

.volumeH trough {
    min-height: 10px;
}

.volumeV trough {
    min-width: 10px;
}

.volume highlight {
    background-color: #d32288;
    border-radius: 10px;
    border-width: 0;
}

