* {
    all: unset;
}

window {
    background-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 8px;
}

.widget {
    background-color: #0d001d;
    border: 2px solid #d32288;
    border-radius: 2px;
}

label {
    color: #d32288;
}

