* {
    color: white;
}

window {
    background-color: rgba(0, 0, 0, 0);
}

.container {
    margin: 8px;
}

.widget {
    min-width: 100px;
    background-color: rgb(50, 50, 50);
    border-radius: 8px;
}

