.sliderV {
    padding-top: 16px;
    padding-bottom: 16px;
}

.sliderH {
    padding-left: 16px;
    padding-right: 16px;
}

.slider label {
    font-size: 26px;
}

.sliderH label {
    padding-right: 4px;
}

.slider fill {
    background-color: red;
}

.slider contents {
    padding: 16px;
    border-radius: 4px;
    background-color: #05000c;
}

.sliderH contents {
    min-width: 100px;
}

.sliderV contents {
    min-height: 100px;
}

.slider trough {
    background-color: #0d001d;
    border-radius: 10px;
    border-width: 0;
}

.sliderH trough {
    min-height: 10px;
}

.sliderV trough {
    min-width: 10px;
}

.slider highlight {
    background-color: #d32288;
    border-radius: 10px;
    border-width: 0;
}

