.nextcloud {
    padding: 8px;
}

.nextcloudV label:first-child {
    padding-right: 10px;
    font-size: 28px;
}

.nextcloudH label:first-child {
    padding-right: 4px;
    font-size: 24px;
}

.nextcloudV label {
    font-size: 20px;
}

.nextcloudH label {
    font-size: 18px;
}

