@use "sass:color";

$black: #000000;

* {
    // Remove the gtk theming
    all: unset;
    // Round all the things
    border-radius: 10px;
    // Just a little thicker than default
    font-weight: 500;
}

.h000 { background-color: #ff0000; }
.h020 { background-color: #ff5500; }
.h040 { background-color: #ffaa00; }
.h060 { background-color: #ffff00; }
.h080 { background-color: #aaff00; }
.h100 { background-color: #55ff00; }
.h120 { background-color: #00ff00; }
.h140 { background-color: #00ff55; }
.h160 { background-color: #00ffaa; }
.h180 { background-color: #00ffff; }
.h200 { background-color: #00aaff; }
.h220 { background-color: #0055ff; }
.h240 { background-color: #0000ff; }
.h260 { background-color: #5500ff; }
.h280 { background-color: #aa00ff; }
.h300 { background-color: #ff00ff; }
.h320 { background-color: #ff00aa; }
.h340 { background-color: #ff0055; }

.bar {
    padding-left: 12px;
    padding-right: 12px;
}

.cell {
    margin-top: 3px;
    padding-left: 12px;
    padding-right: 12px;
}

label {
    // All labels are black by default
    color: $black;
}

// --------------- QUICK LAUNCHER ---------------

.quick-launcher {
    background-color: $black;
    opacity: 0.9;
}

// --------------- SLIDERS ---------------

.slider-h {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 3px;
}

.slider-v {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3px;
}

.slider-h scale trough highlight {
    background-color: $black;
}

.slider-v scale trough highlight {
    background-color: $black;
}

.slider-h scale trough {
    min-width: 100px;
    min-height: 15px;
}

.slider-v scale trough {
    min-width: 15px;
    min-height: 100px;
}

.slider-h label {
    font-size: 18px;
    margin-right: 15px;
}

.slider-v label {
    font-size: 18px;
    margin-bottom: 15px;
}

// --------------- LEFT ---------------

.temps label {
    font-size: 15px;
}

.btns button {
    font-size: 30px;
    padding-right: 18px;
}

// --------------- CENTER ---------------

.workspace {
    font-size: 20px;
}

.close {
    font-size: 20px;
}

.close label {
    font-weight: 700;
}

// --------------- RIGHT ---------------

// ------ Brightness ------

.brightness scale trough {
    background-color: #000070;
}

// ------ Volume ------

.volume scale trough {
    background-color: #000070;
}

.volume label {
    font-size: 24px;
}

// ------ Other ------

.battery-icon {
    padding-right: 22px;
    font-size: 25px;
}

.ns-h {}

.ns-v {
    padding-bottom: 6px;
}

.ns-icon-v {
    padding-right: 11px;
    font-size: 28px;
}

.ns-icon-h {
    padding-right: 22px;
    font-size: 25px;
}

.ns-time-v {
    font-size: 16px;
    font-weight: 600;
}

.ns-time-h {}

.pc-clock label {
    font-size: 30px;
}

